<nav class="navbar ">
    <ul class="navbar-nav flex-md-row mx-auto">
        <li class="nav-item me-3 rounded"><a class="nav-link mx-3 " href="./index.html">Home</a></li>
        <!--<li class="nav-item me-3"><a class="nav-link" href="meal-planner.html">Meal Planner</a></li> -->
        <li class="nav-item me-3 rounded"><a class="nav-link mx-3" href="pantry.html">Pantry</a></li>
        <li class="nav-item me-3 rounded"><a class="nav-link mx-3" href="recipes.html">Recipes</a></li>
        <!-- <li class="nav-item me-3"><a class="nav-link" href="shopping-list.html">Shopping List</a></li> -->
    </ul>
</nav>